1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,1,1,1
PRODUCTVERSION 1,1,1,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Nawakarit"
      VALUE "FileDescription", "oneexe"
      VALUE "FileVersion", "1.1.1"
      VALUE "InternalName", "oneexe.exe"
      VALUE "OriginalFilename", "oneexe.exe"
      VALUE "ProductName", "oneexe"
      VALUE "LegalCopyright", "Copyright (C) 2026 Nawakarit. GNU General Public License v3.0"
      VALUE "ProductVersion", "1.1.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
