1 VERSIONINFO
FILEVERSION 5,9,0,0
PRODUCTVERSION 5,9,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Nawakarit"
      VALUE "FileDescription", "{{.Name}}"
      VALUE "FileVersion", "{{.Version}}"
      VALUE "InternalName", "{{.Name}}.exe"
      VALUE "OriginalFilename", "{{.Name}}.exe"
      VALUE "ProductName", "{{.Name}}"
      VALUE "LegalCopyright", "© 2026 Nawakarit. All rights reserved."
      VALUE "ProductVersion", "{{.Version}}"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
